/* ---------------- INITIALISATION ---------------- */

* {  margin: 0;
    padding: 0;
	border: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
    font-family: 'Open sans', 'sans serif';
    background: #232628;
    overflow-x: hidden;
}

/* ---------------- MENU ET BARRE DE NAVIGATION ----------------  */

/* HEADER */

header {
    position: static;
}

.head-banner {
    background-color: #232628;
    text-transform: uppercase;
}

.head-banner ul {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.head-banner ul li {
    color: #FFFFFF;
    min-width: 160px;
    min-height: 70px;
    margin: 25px 20px 0 20px;
}

.head-banner .bloc-1 {
    background-image: url(ressources/icone-adresse.png);
    background-size: 35px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.head-banner .bloc-2 {
    background-image: url(ressources/icon-telephone.png);
    background-size: 35px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.head-banner .title {
    font-family: 'Montserrat', 'sans serif';
    font-size: 15px;
    margin-right: 2%;
}

.head-banner .active {
    color: #CC6119;
    font-weight: bold;
    font-size: 10px;
}

.head-banner .head-number {
    font-size: 17px;
    font-weight: bold;
}

.head-banner .head-text {
    font-weight: bold;
    text-transform: none;
}

.head-banner .bloc-2-2 img {
    background-color: #ffffff18;
    border-radius: 4px;
    padding: 2%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-right: 12px;
}

.hamburger-menu {
    display: none;
    position: absolute;
    top: 20px;
    right: 35px;
    width: 45px;
    cursor: pointer;
}

/* NAVBAR */

.navbar {
    width: 100vw;
    background-color: #eceff3aa;
    text-transform: uppercase;
    color: #232628;
    position:absolute;
    z-index: 3;
}

.navbar .nav-links ul {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-right: 120px;
}

.navbar .nav-links ul li a {
    min-width: 100px;
    min-height: 30px;
    display: block;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    padding: 12px;
}

.navbar li a:link {
    color: #232628;
}

.navbar li a:visited {
    color: #232628;
}

.navbar li a:hover {
   background-color: #CC6119;
   color: #FFFFFF;
}

/* ---------------- SECTION CONTACT ---------------- */

main .image-background {
    background-image: url(ressources/vehicule3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    min-width: 100vw;
    height: 38vh;
}

main .white-background {
    background-color:#ECEFF3;
    padding: 100px;
    min-width: 100vw;
    min-height: 40vh;
}

main .contact-form {
    color: #232628;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
    background-color: #ffff;
    padding: 5%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.contact-form h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', 'sans serif';   
    padding-bottom: 5%;
}

.contact-form input {
    font-family: 'Open sans', 'sans serif';
    background-color: #ECEFF3;
    width: 17vw;
    padding: 4.5%;
    margin: 15px 0 15px 0;
}

form .container-form {
    display: flex;
    gap: 20px;
}

form textarea {
    padding: 5%;
    background-color: #ECEFF3;
    width: 17vw;
    height: 16.7vh;
    margin: 15px 0 15px 0;
    font-family: 'Open sans', 'sans serif';
}

form button {
    cursor: pointer;
    text-transform: uppercase;
    background-color: #6C98E1;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    padding: 12px;
    border-radius: 3px;
    box-shadow: 0 1.5px 0 0px #294c80b8;
    width: 8vw;
}

/* ---------------- FOOTER ---------------- */

footer {
    background-color: #232628;
    padding: 4%;
}

.footer-items {
    padding-bottom: 30px;
    border-bottom: 1px solid #6e727585;
}

.footer-items ul {
    color: #9da0a4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.footer-items h5 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer-items h5 span {
    color: #6C98E1;
}

.footer-items .days {
    font-weight: bold;
}

.footer-items .hours {
    color: #ffff;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.footer-items img {
    background-color: #ffffff18;
    border-radius: 3px;
    padding: 2%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.footer-items p {
    font-size: 13px;
    margin-top: 5px;
}

footer input#email {
    cursor: pointer;
    padding: 8px; 
}

footer input#send {
    padding: 7px;
    background-color: #ffffff18;
    cursor: pointer;
}

footer .copyright {
    margin-top: 30px;
    color: #9da0a4;
    font-size: 13px;
    text-align: center;
}

/* -------------------- MOBILE VERSION -------------------- */

/* -------------------- MEDIA QUERIES -------------------- */

@media screen and (max-width: 750px) {

    /* HEADER, NAVBAR & MENU HAMBURGER */
    
        .navbar .nav-links  {
            display: none;
        }
    
        .navbar li a:link {
            color: #232628;
        }
    
        .navbar li a:visited {
            color: #232628;
        }
    
        .navbar li a:hover {
           background-color: #CC6119;
           color: #FFFFFF;
        }
    
        .hamburger-menu {
            display: block;
            top: 30px;
            right: 30px;
            width: 30px;
            cursor: pointer;
            z-index: 3;
        }
    
        .navbar .nav-links.active {
            background-color: #eceff328;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
        }
    
        .navbar .nav-links.active ul {
            flex-direction: column;
            padding: 0;
            margin: 0;
        }
    
        .navbar .nav-links.active ul li a {
            font-size: 0.75rem;
        }

        /* SECTION 1 */

        .head-banner .title,.bloc-1,.bloc-2-1,.bloc-2-2 {
            display: none;
        }

        .head-banner .bloc-2 {
            margin-right: auto;
        }

        .section-1-blocs {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            padding-bottom: 10%;
            font-size: 1rem;
        }

        /* SECTION CONTACT */

        main .image-background {
            background-position: top;
        }
        
        main .white-background {
            padding: 100px;
            min-width: 100vw;
            min-height: 120vh;
        }

        form .container-form {
            display: grid;
        }

        main .contact-form {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -7.3%);
            padding: 10%;
        }
        
        .contact-form h1 {
            padding-bottom: 6vh;
        }

        .contact-form input {
            width: 100%;
        }
        
        form textarea {
            width: 100%;
        }
        
        form button {
            width: 100%;
        }
        
        /* FOOTER */

        footer {
            padding: 10%;
        }
        
        .footer-items ul {
            display: grid;
            justify-content: center;
            gap: 50px;
        }
    }
    