/* ---------------- INITIALISATION ---------------- */

* {  margin: 0;
    padding: 0;
	border: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
    font-family: 'Open sans', 'sans serif';
    background: #232628;
    overflow-x: hidden;
}

/* ---------------- MENU ET BARRE DE NAVIGATION ----------------  */

/* HEADER */

header {
    position: static;
}

.head-banner {
    background-color: #232628;
    text-transform: uppercase;
}

.head-banner ul {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.head-banner ul li {
    color: #FFFFFF;
    min-width: 160px;
    min-height: 70px;
    margin: 25px 20px 0 20px;
}

.head-banner .bloc-1 {
    background-image: url(ressources/icone-adresse.png);
    background-size: 35px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.head-banner .bloc-2 {
    background-image: url(ressources/icon-telephone.png);
    background-size: 35px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.head-banner .title {
    font-family: 'Montserrat', 'sans serif';
    font-size: 15px;
    margin-right: 2%;
}

.head-banner .active {
    color: #CC6119;
    font-weight: bold;
    font-size: 10px;
}

.head-banner .head-number {
    font-size: 17px;
    font-weight: bold;
}

.head-banner .head-text {
    font-weight: bold;
    text-transform: none;
}

.head-banner .bloc-2-2 img {
    background-color: #ffffff18;
    border-radius: 4px;
    padding: 2%;
    height: 35px;
    width: 35px;
    cursor: pointer;
    margin-right: 12px;
}

.hamburger-menu {
    display: none;
    position: absolute;
    top: 20px;
    right: 35px;
    width: 45px;
    cursor: pointer;
}

/* NAVBAR */

.navbar {
    width: 100vw;
    background-color: #eceff3aa;
    text-transform: uppercase;
    color: #232628;
    position:absolute;
    z-index: 2;
}

.navbar .nav-links ul {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-right: 120px;
}

.navbar .nav-links ul li a {
    min-width: 100px;
    min-height: 30px;
    display: block;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    padding: 12px;
}

.navbar li a:link {
    color: #232628;
}

.navbar li a:visited {
    color: #232628;
}

.navbar li a:hover {
   background-color: #CC6119;
   color: #FFFFFF;
}

/* ---------------- BACKGROUND ---------------- */

.vente-background {
    background-image: url(ressources/vente-location.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    min-width: 100vw;
    height: 30vh; 
    opacity: 70%;
}

.vente-background h1 {
    text-transform: uppercase;
    color: white;
    padding: 80px;
}

/* ---------------- VENTE SECTION ---------------- */

main {
    background-color: #FFFFFF;
    padding: 2%;
}

.select {
    margin-left: 13vw;
    padding: 2% 0 2% 0;
}

.select label {
    color: #23262884;
    text-transform: uppercase;
    font-size: 12px;
}

.select #price-select {
    background-color: #ECEFF3;
    padding: 0.5%;
}

.cars-list {
    position: relative;
    z-index: 1;
    color: #232628;
    border-top: 1px solid #c7c9ccab;
    margin: 0 35% 0 10%;
}

.cars-list ul li {
    border-bottom: 1px solid #c7c9ccab;
    background-image: url(ressources/vehicule2.jpg);
    background-size: 250px;
    padding: 0 0 5vh 20vw;
    margin: 5% 0 5% 0;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.cars-list button {
    background-color: #6C98E1;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    padding: 2.5% 2% 2.5% 6.5%;
    margin-left: auto;
}

.cars-list .title-list {
    display: flex;
    flex-direction: row;
}

.cars-list p {
    color: #232628cb;
    padding: 3% 0 1.5% 0;
    font-size: 14px;
    font-weight: 500;
}

.cars-list .active {
    color: black;
    cursor: pointer;
}

/* ---------------- RESEARCH ---------------- */


section {
    position: absolute;
    z-index: 2;
    top: 38vh;
    right: 10%;
}

.research {
    background: #fff;
    max-width: 20vw;
    min-width: 20vw;
    min-height: 90vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.research .research-title {
    color: #FFFFFF;
    padding: 12%;
    background-color: #232628;
    background-image: url(ressources/search.svg);
    background-size: 16px;
    background-position: 20%;
    background-repeat: no-repeat;
}

.research-title h4 {
    padding-left: 50px;
}

.research ul li {
    padding: 2%;
    margin: 5%;
}

.research select {
    background-color: #ECEFF3;
    width: 100%;
    padding: 5%;
    cursor: pointer;
}

.research button {
    width: 48%;
    background-color: #ECEFF3;
    padding: 5%;
}

.research label {
    font-size: 13px;
    font-weight: bold;
}

.research input {
    cursor: pointer;
}

.research .btn {
    cursor: pointer;
    text-transform: uppercase;
    background-color: #6C98E1;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 1.5px 0 0px #294c80b8;
    width: 90%;
    margin : 10% 5%;
}

/* ---------------- FOOTER ---------------- */

footer {
    background-color: #232628;
    padding: 4%;
}

.footer-items {
    padding-bottom: 30px;
    border-bottom: 1px solid #6e727585;
}

.footer-items ul {
    color: #9da0a4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.footer-items h5 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.footer-items h5 span {
    color: #6C98E1;
}

.footer-items .days {
    font-weight: bold;
}

.footer-items .hours {
    color: #ffff;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.footer-items img {
    background-color: #ffffff18;
    border-radius: 3px;
    padding: 2%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.footer-items p {
    font-size: 13px;
    margin-top: 5px;
}

footer input#email {
    cursor: pointer;
    padding: 8px; 
}

footer input#send {
    padding: 7px;
    background-color: #ffffff18;
    cursor: pointer;
}

footer .copyright {
    margin-top: 30px;
    color: #9da0a4;
    font-size: 13px;
    text-align: center;
}

/* -------------------- MOBILE VERSION -------------------- */

/* -------------------- MEDIA QUERIES -------------------- */

@media screen and (max-width: 750px) {

    /* HEADER, NAVBAR & MENU HAMBURGER */
    
        .navbar .nav-links  {
            display: none;
        }
    
        .hamburger-menu {
            display: block;
            top: 30px;
            right: 30px;
            width: 30px;
            cursor: pointer;
            z-index: 3;
        }
    
        .navbar .nav-links.active {
            background-color: #eceff328;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 3;
        }
    
        .navbar .nav-links.active ul {
            flex-direction: column;
            padding: 0;
            margin: 0;
        }
    
        .navbar .nav-links.active ul li a {
            font-size: 0.75rem;
        }

        /* SECTION 1 */

        .head-banner .title,.bloc-1,.bloc-2-1,.bloc-2-2 {
            display: none;
        }

        .head-banner .bloc-2 {
            margin-right: auto;
        }

        .section-1-blocs {
            display: grid;
            grid-template-columns: repeat(1,1fr);
            padding-bottom: 10%;
            font-size: 1rem;
        }

        /* RESEARCH */
        
        .select #price-select {
            margin-top: 100vh;
        }

        section {
            display: block;
            align-items: center;
            justify-content: center;
        }

        .research {
            margin: 0;
            padding: 0;
            min-width: 80vw;
            min-height: 100vh;
        }
        
        .research .research-title {
            padding: 10%;
            background-size: 26px;
            background-position: 12%;
        }
     
        /* VENTE SECTION */

        .cars-list {
            margin: 0;
        }

        .cars-list ul li {
           background-size: 100%;
           align-items: center;
           padding: 5%;
           margin: 5%;
        }
        
        .cars-list .title-list {
            display: block;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 80%;
        }

        /* FOOTER */

        footer {
            padding: 10%;
        }
        
        .footer-items ul {
            display: grid;
            justify-content: center;
            gap: 50px;
        }
    }
