/* ---------------- INITIALISATION ---------------- */

* {  margin: 0;
    padding: 0;
	border: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
    font-family: 'Open sans', 'sans serif';
    background: rosybrown;
    overflow-x: hidden;
}

/* ---------------- MENU ET BARRE DE NAVIGATION ----------------  */

/* HEADER */

header {
    position: static;
}

.head-banner {
    background-color: #232628;
    text-transform: uppercase;
}

.head-banner ul {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.head-banner ul li {
    color: #FFFFFF;
    min-width: 160px;
    min-height: 70px;
    margin: 25px 20px 0 20px;
}

.head-banner .bloc-1 {
    background-image: url(ressources/icone-adresse.png);
    background-size: 35px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.head-banner .bloc-2 {
    background-image: url(ressources/icone-adresse.png);
    background-size: 35px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.head-banner .title {
    font-family: 'Montserrat', 'sans serif';
    font-size: 15px;
    margin-right: 2%;
}

.head-banner .active {
    color: #CC6119;
    font-weight: bold;
    font-size: 10px;
}

.head-banner .head-number {
    font-size: 17px;
    font-weight: bold;
}

.head-banner .head-text {
    font-weight: bold;
    text-transform: none;
}

.head-banner img {
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin: 12px;
}


/* NAVBAR */

.navbar {
    width: 100vw;
    background-color: #eceff3aa;
    text-transform: uppercase;
    color: #232628;
    position: absolute;
    z-index: 2;
}

.navbar .nav-links ul {
    position: relative;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-right: 120px;
}

.navbar .nav-links ul li a {
    min-width: 100px;
    min-height: 30px;
    display: block;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    padding: 12px;
}

.navbar li a:visited {
    color: #232628;
}

.navbar li a:hover {
   background-color: #CC6119;
   color: #FFFFFF;
}

.navbar .hamburger-menu {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    cursor: pointer;
}

/* ---------------- SECTION 1 - LE MEILLEUR DE L'AUTOMOBILE ---------------- */

/* FOND */

.section-1-background {
position: absolute;
z-index: 1;
}

.section-1-background img {
    max-width: 100vw;
}

/* SECTION 1 */

.section-1 {
    position: relative;
    z-index: 3;
}

.section-1 .section-1-title {
    background-color: #232628;
    min-width: 100vw;
    min-height: 90px;
    margin-top: 42%;
}

.section-1 h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Montserrat', 'sans serif';
    margin-left: 10%;
    padding: 2%;
}

.section-1 .active {
    color: #CC6119;
    font-weight: bold;
}

.section-1-blocs {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 4% 10% 4% 15%;
}

.section-1-blocs img {
    width: 100%;
}

.section-1 .bloc-3 h2 {
    text-transform: uppercase;
    font-family: 'Montserrat', 'sans serif';
}

.section-1 .bloc-3 span {
    color: #CC6119;
}

.section-1 .bloc-4 h2 {
    font-family: 'Montserrat', 'sans serif';
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 28px;
    border-bottom: 1px solid #2326282b;
}

.section-1 .bloc-4 ul li {
    background-image: url(ressources/icone-check-orange.png);
    background-size: 35px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    font-size: 15px;
}

.section-1-blocs p {
    color: #232628c1;
    font-size: 15px;
}

.section-1-blocs .bloc-3 {
    margin: 5px 0 10px 0;
}

.section-1-blocs .bloc-4 {
    margin: 10px 0 10px 0;
}

/* --------------- SECTION 2 - LOUER,ACHETER VEHICULES RECENTS ---------------- */

/* FOND + CARDS */

.section-2-cards {
    background-image: url(ressources/vente-location.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    padding: 125px;
    max-width: 100vw;
}

.section-2-cards h2 {
    color: #232628;
}

.section-2-cards .yellow-card {
    background-color: #fab637e1;
    padding: 40px;
    margin: 15px;
}

.section-2-cards .red-card {
    background-color: #ff4848e0;
    padding: 40px;
    margin: 15px;
}

.section-2-cards p {
    color: #FFFFFF;
    font-size: 13px;
    margin: 15px 20px 20px 0;
}

/* PARTIE VEHICULES RECENTS */

.section-2-cars {
    background-color: #232628;
    padding-bottom: 5%;
}

.section-2-cars .cars {
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 30px;
}

.cars img {
    width: 22rem;
}

.section-2-cars h1 {
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 50px 0 20px 0;
    font-family: 'Montserrat', 'sans serif';
}

.section-2-cars .car1, .car2, .car3 {
    border-top: 3px solid #CC6119;
    padding-top: 40px;
}

.cars .car-title {
    background: #434648;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1%;
    padding: 3%;
}

.cars h4 {
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
    text-align: left;
    padding: 15px;
    border-bottom: 1px solid #6e727585;
}

.car3 span {
    text-decoration: line-through;
    font-weight: normal;
    color: #232628;
}

.cars button {
    cursor: pointer;
    background-color: #6C98E1;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Montserrat', 'sans serif';
    margin-left: auto;
    padding: 10px;
}


/* ---------------- SECTION 3 - POURQUOI NOUS CHOISIR, CLUB AUTO ---------------- */

/* WHITE BANNER */


.section-3 .white-banner {
    background-color: #fff;
    color: #232628;
    padding: 5%;
}

.white-banner-items ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 5%;
    margin: 2%;
}

.white-banner-items p {
    font-size: 13px;
    color: #4346489b;
    font-weight: 550;
    margin-top: 10px;
}

.white-banner-items h5 {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat', 'sans serif';
}

.white-banner h1 {
    font-family: 'Montserrat', 'sans serif';
    text-align: center;
}

.white-banner button {
    cursor: pointer;
    margin-left: 40%;
    color: #FFFFFF;
    background-color: #6C98E1;
    padding: 15px 27px 15px 27px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 1px 2px 0 0px #6c99e1b8;
}

.white-banner-items .list-1 {
    background-image: url(ressources/icone-doc-orange.png);
    background-size: 35px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.white-banner-items .list-2 {
    background-image: url(ressources/icone-doc-orange.png);
    background-size: 35px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.white-banner-items .list-3 {
    background-image: url(ressources/icone-doc-orange.png);
    background-size: 35px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.white-banner-items .list-4 {
    background-image: url(ressources/icone-doc-orange.png);
    background-size: 35px;
    padding-left: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

/* CAR BANNER */

.section-3 .car-banner {
    background-image: url(ressources/vehicule3.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    padding: 100px;
    max-width: 100vw;
}

.car-banner .yellow-box {
    background-color: #fab637e0;
    width: 45%;
    padding: 5%;
    margin-left:6%;
}

.yellow-box h1 {
    font-family: 'Montserrat', 'sans serif';
    text-transform: uppercase;
}

.yellow-box h1 span {
    color: #ffff;
}

.yellow-box p {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
}

/* ---------------- FOOTER ---------------- */

footer {
    background-color: #232628;
    padding: 10%;
}

